:root {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    font-style: normal;
    font-weight: 600;
    --custom-properties: black white #393939 #939393 #f9f9f9;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 4.2rem;
    line-height: 5.1rem;
}

p {
    font-size: 1.8rem;
}

div.buttonshop {
    font-size: 1.5rem;
    background: #393939;
    border-radius: 82px;
    width: 148px;
    height: 44px;
    font-size: 1.5rem;
    display: flex;
    line-height: 1.8rem;
    justify-content: center;
    align-items: center;

}

div.buttonshop a {
    color: white;
    text-decoration: none;
}

a.socialnetwork {
    text-decoration: none;
    margin-top: 20px;
    padding-right: 16px;
}

#step_rect {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    text-transform: uppercase;
    line-height: 1.7rem;
    width: 78px;
    height: 33px;
    border: 1px solid #000000;
    border-radius: 2px;
}

#step_h3 {
    font-size: 2.4rem;
    line-height: 2.9rem;
}

#step_p {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 169.02%;
    color: #393939;
}

#product_brand {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #939393;
}

#product_name {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

#hello_info {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#shop_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.05em;
    border: 1px solid #000000;
    border-radius: 2px;
    width: 114px;
    height: 25px;
    padding: 4px 8px;
    gap: 8px;
    margin-left: 112px;
}

#news_headline {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: -0.03em;
}

#news_date {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

div.newsbutton {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 39px;
    gap: 8px;

    border: 1px solid #939393;
    border-radius: 82px;
    width: 74px;
    height: 18px;


}

div.newsbutton a {

    text-decoration: none;
    color: #393939;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.03em;
}


#about_p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 492px;
    height: 175px;
}

#header_nav {
    display: inline;
    padding-right: 1.4rem;
}

.shopping_cart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 14px;
    gap: 7px;
    position: absolute;
    width: 69px;
    height: 34px;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-left: 248px;
    margin-top: 9px;
    margin-bottom: 13px;
}

.cart_count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    color: white;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: #181818;
    border-radius: 90px;
}

.product_price {
    display: flex;
    justify-content: row;
    align-items: flex-start;
    padding: 8px 14px;
    gap: 8px;
    width: 77px;
    height: 15px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    border: 1px solid #000000;
    border-radius: 2px;
}

.product_url {
    text-decoration: none;
}

#verseser_rights {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    opacity: 0.3;
}

.footer_url {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.info_mail {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: black;
}

#contact_info {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    gap: 14px;
}

.ul_nav {
    padding: 0;
    margin-top: 23px;
    padding-left: 37;
}

.verseser_header {
    margin-left: 15px;
    margin-top: 21px;
}

.sections_head {
    margin: 0;
    background-color: #f9f9f9;
}

.big_models {
    width: 345px;
    height: 407px;
}

.small_models {
    width: 168px;
    height: 168px;
}

.news_pics {
    width: 313px;
    height: 209px;
}

.news_plashka {
    width: 66px;
    height: 31px;
    padding: 8px 14px;
    gap: 8px;

    border: 1px solid #000000;
    border-radius: 2px;
}